
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;500;600;700&display=swap');

:root{
  --primary: #00A97F;
  --light:#b9d6f2;
  --dark:rgba(13,13,10,255);
  --darker:rgba(234,157,90,255);
  --lighter:#cbd6cf;
  --lighter1:#c3dacc86;
  --lighter2:#e4f0e9da;
  --darken: #cca27e;
  --color: orangered;
  --search: #FF6000;
  --primary1: #b9d6f2;
  --primary2: #7364d2;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: black;
}

p {
  margin: auto;
  font-size: 14px;
}


.logo {
  height: 40px;
  max-width: 100%;
}

.logo:hover {
  filter: drop-shadow(0 0 1em #013a63);
}

.logo.react:hover {
  filter: drop-shadow(0 0 1em #013a63);
}

/* ------------------------------------------------ Header -------------------------------------------------- */

.header-top-strip {
  background-color: #fff;
}
button {
  padding: 12px 10px;
  font-size: 14px;
  /* background-color: var(--primary2); */
}
.input-group button {
  background: transparent;
  font-size: 14px;
  color: #a51c30;
}
.nav-links {
  font-size: 16px;
  text-transform: uppercase;
}
.header-upper {
  background-color: #f8f3f3;
}
