
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;500;600;700&display=swap');

:root{
  --primary: #00A97F;
  --light:#b9d6f2;
  --dark:rgba(13,13,10,255);
  --darker:rgba(234,157,90,255);
  --lighter:#cbd6cf;
  --lighter1:#c3dacc86;
  --lighter2:#e4f0e9da;
  --darken: #cca27e;
  --color: orangered;
  --search: #FF6000;
  --primary1: #b9d6f2;
  --primary2: #ddb892;
  --text: #a67b5b;
  --active: #a51c30;
  --header: #f8f3f3;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: black;
}

p {
  font-size: 14px;
  margin: 5px;
}


.logo {
  height: 70px;
  max-width: 100%;
}

.logo:hover {
  filter: drop-shadow(0 0 1em #ddb892);
}

.logo.react:hover {
  filter: drop-shadow(0 0 1em #ddb892);
}

.active{
  font-weight: 600;
  text-decoration: wavy;
  color: var(--active);
}

.inactive {
  color: black;
  font-size: 400;
}

/* ------------------------------------------------ Header -------------------------------------------------- */

.header-top-strip {
  background-color: #fff;
}
button {
  padding: 12px 10px;
  font-size: 14px;
  /* background-color: var(--primary2); */
}
.input-group button {
  background: transparent;
  font-size: 14px;
  color: #a51c30;
}
.nav-links a{
  font-size: 16px;
  text-transform: uppercase;
}
.nav-links-nav a {
  color: var(--primary2);
}

.social-icons a{
  color: var(--primary2);

}

.header-upper {
  background-color: var(--header);
}

/* ------------------------------------------------ Footer -------------------------------------------------- */

footer {
  background-color: #f8f3f3;
}

.policy {
  color: var(--text);
}

.pay img {
  transition: 0.5s ease;
}

.pay img:hover {
  transform: translateY(-8px);
}

/* ------------------------------------------------ Home Page -------------------------------------------------- */

.banner-details {
  background: url(/src/assets/images/backkk.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 50vh;
}

h1 {
  font-style: italic;
  font-weight: 600;
  color: #d68281;
  margin: 0 10px;
  font-size: 40px;
}

h2 {
  font-weight: 400;
  font-size: 32px;
  margin: 10px;
  margin-left: 40px;
  font-style: italic;
}

.button-link {
  padding: 12px 5px;
  font-size: 15px;
  border-radius: 20px 5px;
  background: var(--lighter);
  border: 1px solid transparent;
  transition: 0.5s ease;
  margin-left: 93px;
  margin-top: 5px;
}

.button-link:hover {
  background: transparent;
  color: #f28482;
  border: 1px solid #f8f3f3;
}

.spend {
  margin-left: 65px;
}

.hero-details img {
  width: 100%;
  height: 70px;
  border-radius: 10px;
}

.featured-products .card img {
  border-radius: 20px;
}

.featured-products .card {
  border-radius: 20px;
  max-width: 250px;
}

h5{
  font-size: 14px;
}

.md-design {
  margin: 10px;
}


.featured-products .card span {
  color: var(--darken);
}

.repair {
  background: url(/src/assets/images/newsletter.jpeg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 30vh;
}

.btn-repair {
  padding: 10px 5px;
  font-size: 15px;
  border-radius: 20px 5px;
  background: var(--lighter);
  border: 1px solid transparent;
  transition: 0.5s ease;
}

.btn-repair:hover {
  background: var(--lighter2);
  color: #f28482;
  border: 1px solid #f8f3f3;
}

.new-products .card img {
  border-radius: 20px;
}

.new-products .card {
  border-radius: 20px;
  max-width: 250px;
}

.new-products .card span {
  color: var(--darken);
}

.btn-deals {
  padding: 10px 5px;
  font-size: 15px;
  border-radius: 10px ;
  background: var(--lighter);
  border: 1px solid transparent;
  transition: 0.5s ease;
}

.btn-deals:hover {
  background: var(--lighter2);
  color: #f28482;
  border: 1px solid var(--lighter1);
}

.sale {
  padding-left: 0;
  margin-left: 0;
}

/* ------------------------------------------------ Shop Page -------------------------------------------------- */

.shop {
  background: url(/src/assets/images/newsletter.jpeg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 30vh;
}

.btn-shop {
  padding: 10px 5px;
  font-size: 15px;
  border-radius: 20px 5px;
  background: var(--lighter);
  border: 1px solid transparent;
  transition: 0.5s ease;
}

.btn-shop:hover {
  background: var(--lighter2);
  color: #f28482;
  border: 1px solid #f8f3f3;
}

.price {
  color: #a67b5b;
}


